$border-width: 1px;

.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  border-bottom: $border-width solid $blue !important;
  margin: calc(2 * #{$gutter}) 0 $gutter 0 !important;
  padding: 0 $gutter 0 $gutter !important;
  color: $secondary-font-color;

  @include referenceBreakpoint() {
    padding: 0 !important;
  }
}

.react-tabs__tab {
  display: inline-block;
  border: $border-width solid transparent !important;
  border-bottom: none !important;
  bottom: calc(-1 * #{$border-width}) !important;
  position: relative;
  list-style: none;
  font-size: $font-size-2 !important;
  line-height: 1.2em;
  padding: 6px 12px;
  width: 25%;
  text-align: center;
  cursor: pointer;

  @include referenceBreakpoint() {
    width: 50%;
  }
}

.react-tabs__tab--selected {
  color: $blue !important;
  border-color: $blue !important;
  // background-color: $blue !important;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  box-shadow: 0 0 5px $blue !important;
  border-color: $blue !important;
  outline: none;
}

.react-tabs__tab:focus:after {
  content: "";
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}
