.TagList__wrapper {
  display: inline-flex;
}

.TagList {
  display: flex;
  & > li {
    padding-left: 4px;
    padding-right: 4px;
    margin-left: 5px;
    font-size: $font-size-6 !important;
    font-weight: $weight-normal;
    border-radius: 3px;
  }
}

.TagList__image {
  background-color: #8b3bff;
  a {
    color: white;
  }
}

.TagList__video {
  background-color: #30c86b;
  a {
    color: white;
  }
}

.TagList__text {
  background-color: #3e7ddd;
  a {
    color: white;
  }
}

.TagList__sound {
  background-color: #5e5e5e;
  a {
    color: white;
  }
}
