html {
  box-sizing: border-box;
  background-color: white;
  font-size: 16px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  font-family: $primary-font-family;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
}

a {
  color: $primary-color;

  &:hover {
    color: $primary-color;
  }

  &:active {
    color: $primary-color;
  }
}
