// -----------------------------------------------------------------------------
// @font-face declarations
// -----------------------------------------------------------------------------

@font-face {
  font-family: "HK Grotesk";
  src: url('/fonts/HKGrotesk-Regular.otf') format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "HK Grotesk";
  src: url('/fonts/HKGrotesk-Medium.otf') format("opentype");
  font-weight: 500;
  font-style: normal;
}


