h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $primary-font-family;
  color: $primary-color;
  margin-top: 0;
  margin-bottom: 1em;
}

h1 {
  font-size: $font-size-1;
  font-weight: $weight-bold;
  margin-bottom: 1em;
}

h2 {
  font-size: $font-size-2;
  font-weight: 600;
  margin-top: 2em;

  &:first-child {
    margin-top: 1em;
  }
}

h3 {
  font-size: $font-size-3;
  font-weight: $weight-bold;
  margin-top: 2em;
  // &:not(:first-child) {
  //   margin-top: 2em;
  // }
}

h4 {
  font-size: $font-size-4;
  font-family: $monospace-font-family;
  font-weight: $weight-bold;
  margin: auto;
  color: $purple;
}

h5 {
  font-size: $font-size-5;
  font-family: $monospace-font-family;
  font-weight: $weight-bold;
  margin: auto;
  margin-bottom: 0.5em;
  color: #6db51e;
  line-height: 2em;
}

p {
  font-size: $font-size-paragraph;
  margin-bottom: 1em;
  margin: 0;
  padding: 0;
  &:last-child {
    margin-bottom: 2em;
  }
}

a {
  cursor: pointer;
  text-decoration: none;
}

blockquote {
  // background-color: #f8f5ff;
  padding: 1.75rem;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 2em;
  border: 1px solid $blue;
  border-radius: 5px;

  strong {
    color: whitesmoke !important;
    font-family: $monospace-font-family;
    background-color: $purple;
    padding: 5px !important;
    margin: 0px 3px;
    border-radius: 5px;
  }

  .gatsby-highlight {
    margin: $gutter;
  }

  p {
    line-height: 2em;
  }

  p:not(:last-child) {
    margin-bottom: 1.5em;
  }

  p:last-child {
    margin-bottom: 1em;
  }

  li {
    margin-bottom: 0.5em;
  }
}

code.language-javascript {
  background-color: none !important;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  line-height: 2em;
  font-size: $font-size-paragraph !important;
  code {
    display: inline;
    background-color: $purple !important;
    color: white !important;
    padding: 4px 7px !important;
    margin: 0;
    font-size: 16px !important;
  }
}
