.GridContainer {
  display: flex;
  gap: $gutter;

  @include mobile-only() {
    flex-direction: column;
  }

  &--vertical {
    flex-direction: column;
  }

  &--center {
    text-align: center;
  }
}

.GridContainer__item {
  flex-grow: 1;
  flex-basis: 0;
  padding: 0 $gutter;
  display: flex;
  flex-direction: column;
  align-items: center;
}
